<header class="header">
    <nav>
      <div class="logo">
        <a href="">Hea<span>Link</span></a>
      </div>
      <input type="checkbox" id="menu-toggle">
      <label for="menu-toggle" class="menu-icon">&#9776;</label>
      <ul class="menu">
        <li><a href="#"><i class="fa-solid fa-house"></i>Home</a></li>
        <li><a href="#">Skills</a></li>
        <li><a href="#">Projects</a></li>
        <li><a href="#">Connect</a></li>
        <li><button (click)="signOut()">SignOut</button></li>
      </ul>
    </nav>
  </header>
  <app-post-list class="post"></app-post-list>