
<div id="boxes">
    <div id="leftbox">
        <app-side-profile [userDetail]="userDetail"></app-side-profile>
    </div>

    <div id="middlebox" #middlebox>
        <app-post-list class="post hide-scrollbar" [userDetail]="userDetail"></app-post-list>
    </div>

    <div id="rightbox">
        <!-- <div class="container-temp">
            <h1>Coming Soon</h1>
            <p>We are working on something awesome and will be back shortly!</p>
        </div> -->
        <app-chats></app-chats>
    </div>
</div>