#leftbox {
    float: left;
    width: 20%;
    height: 100%;
    padding: 5px;
}

#middlebox {
    float: left;
    width: 50%;
    overflow-y: auto;
    height: calc(100vh - 70px);
    padding: 5px;
}

#rightbox {
    float: right;
    width: 26%;
    height: calc(100vh - 80px);
    padding: 10px;
}

//temporary css
.container-temp {
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.container-temp h1 {
    font-size: 36px;
    color: #333;
    margin-bottom: 20px;
}
.container-temp p {
    font-size: 18px;
    color: #666;
    margin-bottom: 30px;
}

@media only screen and (max-width: 950px) {
    .menu {
        flex-direction: column;
        background-color: #ffffff;
        align-items: start;
        position: absolute;
        top: 70px;
        left: 0;
        width: 100%;
        z-index: 1;
        transform: scale(1, 0);
        transform-origin: top;
        transition: transform 0.3s ease-in-out;
        box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
    }

    .menu a {
        margin-left: 12px;
    }

    .menu li {
        margin-bottom: 10px;
    }

    .menu-icon {
        display: block;
        color: #010101;
        font-size: 28px;
        cursor: pointer;
    }

    .wrap {
        width: 40%;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    .logo a .main-title {
        display: none;
    }

    #leftbox {
        display: none;
    }

    #middlebox {
        width: 100%;
    }

    #rightbox {
        display: none;
    }
}