<ngx-spinner>
    <span class="blinking-main-title blinking-text">Hea<span class="title">Link</span></span>
</ngx-spinner>
<div class="login-box">
    <div class="login-header">
        <header>Connecting Care,<br><br><b class="title">Empowering Careers.</b></header>
    </div>
    <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
        <div class="form-group pt-3">
            <div class="input-box input-field">
                <input formControlName="username" type="text" class="input-field form-control" placeholder="Username"
                    autocomplete="off" required>
            </div>
        </div>
        <small *ngIf="loginForm.controls['username'].dirty && loginForm.hasError('required','username')"
            class="error">*Username is required</small>
        <div class="form-group pt-3">
            <div class="input-box input-field">
                <input formControlName="password" type="password" class="input-field form-control" placeholder="Password"
                    autocomplete="off" required>
            </div>
        </div>
        <small *ngIf="loginForm.controls['password'].dirty && loginForm.hasError('required','password')"
            class="error">*Password is required</small>
        <small *ngIf="isInvalidUser"
            class="error">*Invalid Username or password</small>
        <!-- <div class="forgot">
            <section>
                <input type="checkbox" id="check">
                <label for="check">Remember me</label>
            </section>
            <section>
                <a href="#">Forgot password?</a>
            </section>
        </div> -->
        <div class="input-submit">
            <button [disabled]="loginForm.invalid" class="submit-btn btn" id="submit"></button>
            <label for="submit">Sign In</label>
        </div>
    </form>
    <div class="sign-up-link">
        <p>Don't have account? <a (click)="signUp()">Sign Up</a></p>
    </div>
</div>