<div id="boxes">
    <div id="leftbox">
        <div class="container-temp">
            <h1>Coming Soon</h1>
            <p>We are working on something awesome and will be back shortly!</p>
        </div>
    </div>

    <div id="middlebox">
        <app-post-list class="post"></app-post-list>
    </div>

    <div id="rightbox">
        <div class="container-temp">
            <h1>Coming Soon</h1>
            <p>We are working on something awesome and will be back shortly!</p>
        </div>
    </div>
</div>