span{
    display: inline-block;
}

#leftbox {
    float: left;
    width: 50%;
    height: 100%;
    background-color: rgba(0, 0, 255, 0.036);
    &:hover{
        background-color: #00B4CC;
    }
}

#rightbox {
    float: left;
    width: 50%;
    height: 100%;
    &:hover{
        background-color: #00B4CC;
    }
}

.container img{
    width: 150px;
    height: 150px;
}

.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}