<div class="container" id="leftbox" (click)="closeDialog(2)">
    <img src="https://img.freepik.com/free-vector/follow-me-social-business-theme-design_24877-52233.jpg?t=st=1711907858~exp=1711911458~hmac=fd2f3bff618b032a8f8117900a1d4d04f4a4fba5d53e6f1140afe542312e981c&w=740">
    <h2>Personal User</h2>
</div>
<div class="container" id="rightbox" (click)="closeDialog(3)">
    <img src="https://img.freepik.com/free-vector/team-concept-illustration_114360-658.jpg?t=st=1711909057~exp=1711912657~hmac=c922db86cef84907681bfc0eca8491d54a1ab9bb442fb40e897cdb76c2e347d6&w=740">
    <h2>Organizational User</h2>
</div>