.container{
    background-color: white;
    height: 45px;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
}

@media only screen and (max-width: 950px) {
    .container{
        width: 103%;
    }
}